{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
        li{
            display: block;
            font-size: smaller;
        }
    </style>
<body style="background-color: #999999;">
<div class="limiter">
<div class="container-login100">
<div class="login100-more" style="background-image: url('{% static 'assets/img/bg-01.jpg' %}');"></div>
<div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
<form class="login100-form validate-form" method="post">
 {% csrf_token %}
<span class="login100-form-title p-b-59">
Change password
</span>
<div class="wrap-input100 validate-input" data-validate="Password is required">
<span class="label-input100">Old Password<label style="color: red;">{{form.old_password.errors}}</label></span>
{{form.old_password}}
<span class="focus-input100"></span>
</div>

<div class="wrap-input100 validate-input" data-validate="Password is required">
    <span class="label-input100">New Password<label style="color: red;">{{form.new_password1.errors}}</label></span>
    {{form.new_password1}}
    <span class="focus-input100"></span>
</div>

<div class="wrap-input100 validate-input" data-validate="Password is required">
<span class="label-input100">Confirm Password<label style="color: red;">{{form.new_password2.errors}}</label></span>
{{form.new_password2}}
<span class="focus-input100"></span>
</div>

<div class="container-login100-form-btn">
<div class="wrap-login100-form-btn">
<div class="login100-form-bgbtn"></div>
<button class="login100-form-btn">
Submit
</button>
</div>
</div>
</form>
</div>
</div>
</div>
{% endblock content %}